@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    font-family: "Poppins";
    background-color: rgb(48, 45, 45);;
}

.navbar {
    background-color: black;
    padding: 10px;    
    display: flex;
    justify-content: space-between;
    position: sticky;
}

.navbar h1 {
    background-color: black;
    color: white;
    margin-left: 15px;
    display: flex;
    align-items: center;
}
.navbar img {
    background-color: black;
    margin-right: 5px;
}


.navbar input {
    color: white;
    margin-right: 15px;
}

.resultati {
    background-color: rgb(48, 45, 45);
}

.spacing {
    margin-bottom: 30px;
}

.track-result {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out;
}

.track-result:hover {
    box-shadow: 0 0 10px #0a06ca, 0 0 20px #0a06ca, 0 0 30px #0a06ca, 0 0 40px #0a06ca;
}

.track-cover img {
    border-radius: 5px;
}

.track-text {
    margin-left: 15px;
}

.track-title h3 {
    color: white;
    margin: 0;
    font-size: 18px;
}

.track-artist p {
    color: wheat;
    margin: 5px 0;
    color: #666;
}

.track-link a {
    color: #1e90ff;
    text-decoration: none;
}

.track-link a:hover {
    text-decoration: underline;
}

.play-button, .pause-button {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: #4787ff;
    border: none;
    background: #4787ff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
}

.play-button:hover, .pause-button:hover {
    box-shadow: 0 0 10px #0a06ca, 0 0 20px #0a06ca, 0 0 30px #0a06ca, 0 0 40px #0a06ca;
}

.play-button i, .pause-button i {
    background: transparent;
}

img {
    border-radius: 15px;
}
h3 {
    margin: 0;
}
p {
    margin: 5px 0;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(180deg, #454549, #48494b);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #3261e2, #0561da);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #051eac, #4749d6);
}
  